body{
    background-image: url("https://static01.nyt.com/images/2020/10/08/pageoneplus/08insider-magcover/08insider-magcover-mobileMasterAt3x.jpg");
    background-position: inherit;
}

@media only screen and (max-width: 1000px) {
    body{
        background-image: url("https://d7hftxdivxxvm.cloudfront.net/?resize_to=width&src=https%3A%2F%2Fartsy-media-uploads.s3.amazonaws.com%2FwFeivFy63lC0G_FHmuRdMA%252FHirst-close-up.jpg&width=1200&quality=80");
        background-position: inherit;
    }
}

.jumbotron{
    background-color: white;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
@media only screen and (max-width: 1000px) {
    .jumbotron{
        width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
}

header {
    color: black;
    font-family: 'Grenze Gotisch', cursive;
    text-align: center;
}

.card {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    padding: 10px;
    font: 30px;
    font-weight: bold;
    opacity: 0.9;
}
@media only screen and (max-width: 1000px) {
    .card{
        width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
}

.card-header{
    background-color: rgb(46, 46, 46);
    color: white;
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Cormorant Garamond', serif
}

hr {
    border: 1px solid black;
}

button {
    margin-bottom: 10px;
}

#search, #clear {
    background-color:  rgb(46, 46, 46);
}

#search:hover {
    background-color: rgb(19, 19, 77);
}

#clear:hover {
    background-color: rgb(19, 19, 77);
}
